.vfrc-launcher, .vfrc-proactive-message {
  box-shadow: 4px 2px 5px rgba(0, 0, 0, 0.3) !important;
  background-color: white !important;
}

.vfrc-launcher {
  width: var(--sizes-xl)*0.95 !important;
  height: var(--sizes-xl)*0.95 !important;
}

.vfrc-launcher img {
  width: 50px !important;
  height: 50px !important;
}
